@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body{
  font-family: 'Pangolin', 'sans-serif';
  text-align: center;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,190,195,0.4) 0%, rgba(147,122,69,1) 100%);
}

label{
  font-size: 15px;
  display: block;
  margin: 5px 0 5px 0;
}

form{
  background-color: #5cad72;
  padding: 5px;
  margin: auto 200px auto 200px;
}

.clue{
  font-style: italic;
  font-size: 0.9rem;
  color: #e4e4e4;
}